/* Colors */

:root {
    /* background */
    --upper-header-color:#4E3883;
    --lower-header-color:#7D3780;
    --main-color:rgba(0, 0, 0, 0.99);
    /* links & buttons */
    --button-bkg-color:#FFB600;
    --link-text-color:#FFFFFF;
    --link-hover-color: #FFDDCC;

    
    /* headings & text */
    --primary-color:#FA2742;
    --secondary-color:#9E15BF;
    --thrid-color:#4AC6D2;



    /* */

    /* */

    /* */
}




/* global styles */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

/* typograph */

section h1 h2 h3 {
    font-size: 2rem;
    color: var(--thrid-color);
    background-color: var(--thrid-color);
    
}


/* header navigation */
#currency-swapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 2% auto;
}

.nav-bar-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

nav ul li {
    display:inline-block;
    width: auto;
    

}
a {
    display:inline-block;
    width: min-content;
    list-style: none;
    text-decoration: none;
    color: var(--link-text-color);
    font-size: 1.2rem;
}
a:hover {
    color:var(--link-hover-color);
}
a:active {
    transition: ease-in-out 200ms;
    transform: scale(1.9);
}

nav a {
    display: block;
    width: max-content;
    list-style: none;
    text-decoration: none;
    color: var(--link-text-color);
    font-size: 1.2rem;
    padding-left: 1%;
}
nav a:hover {
    color:var(--link-hover-color);
}
nav a:active {
    transition: ease-in-out 200ms;
    transform: scale(1.9);

}
/* main layout */
header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--upper-header-color);
}


main {
    background-color: var(--main-color);
    width: 100%;
    height: 100vh;
}

section {
    margin: 1% auto;
    width: 100vh;
    height: 90%;
    background-image: url("/assets/images/backgrounds/pexels-robin-1020372.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}
    

/* main navigation */

/* components */

select {
    border:none;
    background-color: var(--upper-header-color);
}

option {
    position: absolute;
    background-color: var(--link-text-color);
}

::placeholder {
    color: var(--link-hover-color);
}



#login li {
    list-style: none;
}

#login a {
    display: inline-block;
    margin: 2% 2% auto;
    text-align: right;
    width: 80%;
    height: fit-content;
    list-style: none;
    text-decoration: none;    
    background-color: var    
    (--upper-header-color);
}

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    justify-content: right;
    height: fit-content;
background-color: var(--lower-header-color);
}



i {
    font-size:1.4rem;
}
/* @media */
